vsphere_vcenter = "10.10.10.15"
vcenter_user = "administrator@paosin.local"
vcenter_password = "P@ssw0rd"
vcenter_datacenter = "paosin.local"
vsphere_server = "10.10.10.15"
#vsphere_cluster = "VSAN-Cluster"
